@import "tailwindcss";

:root {
    --app-primary: #b45309;

    --app-bg: #fffbf8;
    --app-surface-deep: #f9f8f6;
    --app-surface: #ffffff;
    --app-surface-hover: #fff3e6;
    --app-surface-accent: #f9f8f6;

    --app-text: #292524;
    --app-text-muted: #57534e;

    --app-underline: rgba(87, 83, 78, 0.08);
    /* Derived from stone-500 */
    --app-border: #e7e5e4;

    --color-accent-breakfast: #d97706;
    --color-accent-breakfast-bg: #fffbeb;

    --color-accent-lunch: #65a30d;
    --color-accent-lunch-bg: #f7fee7;

    --color-accent-dinner: #dc2626;
    --color-accent-dinner-bg: #fef2f2;
}

.dark {
    --app-primary: #fbbf24;

    --app-bg: #1c1917;
    --app-surface-deep: #44403c;
    --app-surface: #292524;
    --app-surface-hover: #44403c;
    --app-surface-accent: #44403c;

    --app-text: #fafaf9;
    --app-text-muted: #d6d3d1;

    --app-underline: rgba(214, 211, 209, 0.1);
    /* Derived from stone-300 */
    --app-border: #57534e;

    --color-accent-breakfast: #fcd34d;
    --color-accent-breakfast-bg: #451a03;
    --color-accent-lunch: #bef264;
    --color-accent-lunch-bg: #1a2e05;
    --color-accent-dinner: #fca5a5;
    --color-accent-dinner-bg: #450a0a;
}

@theme {
    --color-app-primary: var(--app-primary);
    --color-app-bg: var(--app-bg);
    --color-app-surface-deep: var(--app-surface-deep);
    --color-app-surface: var(--app-surface);
    --color-app-surface-hover: var(--app-surface-hover);
    --color-app-surface-accent: var(--app-surface-accent);
    --color-app-text: var(--app-text);
    --color-app-text-muted: var(--app-text-muted);
    --color-app-underline: var(--app-underline);
    --color-app-border: var(--app-border);

    --color-accent-breakfast: var(--color-accent-breakfast);
    --color-accent-breakfast-bg: var(--color-accent-breakfast-bg);

    --color-accent-lunch: var(--color-accent-lunch);
    --color-accent-lunch-bg: var(--color-accent-lunch-bg);

    --color-accent-dinner: var(--color-accent-dinner);
    --color-accent-dinner-bg: var(--color-accent-dinner-bg);

    --font-display: "Quicksand", "Inter", system-ui, sans-serif;
    --font-body: "Inter", system-ui, sans-serif;
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-app-border/50 rounded-full;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-app-border;
    }
}